<ngb-accordion [closeOthers]="true">
	<ngb-panel *ngFor="let project of projects">
		<ng-template ngbPanelTitle>
			<h5>{{project.title}}</h5>
		</ng-template>
		<ng-template ngbPanelContent>
			<header>
				<h1>{{project.title}}</h1>

				<span>
					<a *ngIf="project.bintray" href="{{project.bintray.url}}"><img src="{{project.bintray.badge}}" alt="Bintray"></a>
					<a href="{{project.github}}"><img src="assets/github.png" alt="GitHub"></a>
				</span>
			</header>

			<h2>{{project.description}}</h2>
			<h4>Current version: {{project.version}}</h4>

			<div *ngIf="project.images">
				<h4>Images</h4>
				<kgi-image-block [images]="project.images"></kgi-image-block>
			</div>
		</ng-template>
	</ngb-panel>
</ngb-accordion>