html, kgi-root, kgi-info, kgi-project {
	background-color: #293132;
	color: #aad2c8;
	font-family: "Roboto Slab";
}

ngb-tabset, kgi-project h1 {
	font-family: "Megrim";
	font-weight: bold;
}
ngb-tabset .nav-tabs, .nav-link {
	border: none !important;
}
ngb-tabset .active {
	background-color: #4da167 !important;
}
